#addPage, #addNtlmURL {
  margin: 0 auto;
  right: 5%;
  top: 60px;
  position: absolute;
  border: 1px solid #C1C1C1;
  display: none;
  z-index: 100;
  background: white;
  border-radius: 4px;
}

.blue {
  color: #3F6EC2;
}

.header_padd {
  padding: 5px;
}

.ruleContent {
  padding-bottom: 10px;
}

.header {
  display: block;
  background: #E5E5E5;
  border: 1px solid #D7D7D7;
  height: 37px;
  border-radius: 4px;
}

.head_rule {
  float: left;
  padding-left: 20px;
  width: 38%;
  margin-top: 9px;
}

#tableId {
  width: 100%;
  border-spacing: 0;
  margin-top: 16px;
}

  #tableId tr:first-child th:first-child {
    width: 28px;
  }

  #tableId tr:first-child + tr th:first-child + th {
    width: 450px;
  }

table {
  /*margin-top:20px;   old champion value*/
  margin-top: 2px;
  border-left: 1px solid #C1C1C1;
}

tr:nth-child(1) {
  background: #D6D6D6;
}

td {
  padding: 5px;
  color: #444;
  border-right: 1px solid #C1C1C1;
  border-bottom: 1px solid #C1C1C1;
}

.close {
  background: url('close.png') no-repeat top right;
  float: right;
  height: 20px;
  margin-top: 12px;
  text-align: right;
  width: 5%;
  margin-right: 20px;
}

.contentDiv {
  width: 300px;
  padding-top: 10px;
  display: block;
  clear: both;
}

.contentDiv1 {
  width: 300px;
  padding-top: 20px;
}

.contentLeft {
  width: 33%;
  float: left;
  padding-left: 20px;
  font-weight: bold;
}

.inputRight {
  width: 53%;
}

.leftEnabled {
  padding-top: 20px;
}

#hideDiv {
  display: none;
}

.buttonRight {
  text-align: right;
  border-top: 1px solid #C1C1C1;
  padding: 5px 5px 5px 0;
}

#blk_id {
  width: 100%;
  display: none;
  background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
  opacity: 0.8;
  position: absolute;
  top: 0;
  z-index: 1;
}

/***** new css for chrome champion*********/

#connection-control-page.page {
  padding: 15px;
  min-width: 626px;
  /*overflow: auto;*/
}

  #connection-control-page.page h1 {
    padding: 0px 14px 8px 0px;
  }

#tableId {
  width: 100%;
}

#tableDiv {
  padding-top: 1px;
}

#default_chk {
  margin-right: 5px;
}

#blocked-urls {
  padding: 5px 0px 5px 21px;
}

/* Styles for NTML Rule Section */
#divNtlmRules {
  margin-top: 30px;
}

#tblNtlmRules {
  width: 100%;
  border-spacing: 0;
  margin-top: 16px;
}

  #tblNtlmRules tr:first-child th:first-child {
    width: 28px;
  }

  #tblNtlmRules tr:first-child + tr th:first-child + th {
    width: 450px;
  }

.disableTableRow {
  background-color: #F0F0F0;
}
